[Unit]
Description=Docker DDClient container
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
ExecStartPre=/usr/bin/docker run -d -it --init --rm --name DDClient --hostname DDClient ghcr.io/fernandoenzo/ddclient:latest
ExecStart=/usr/bin/docker logs -f DDClient
ExecStop=-/usr/bin/docker stop DDClient
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

